<div class="dropdown text-right">
  <button href="#" class="dropdown-toggle" data-toggle="dropdown">並べ替え</button>
  <div class="dropdown-menu">
    <li class="dropdown-item"><%= link_to '人気順', shops_path%></li>
    <li class="dropdown-item"><%= link_to '登録順', created_at_shops_path %></li>
  </div>
</div>