<h1>ユーザー詳細ページ</h1>
<% if logged_in? %>
  <p><%= @user.name %>の詳細ページ</p>
  <p>状態：ログイン中</p>
  <!--<span class="badge badge-secondary"><%= @count_review_goods %></span>-->
<% else %>
  <p><%= @user.name %>の詳細ページ</p>
  <p>状態：ログアウト中</p>
<% end %>
